.SideBar{
    background: rgb(43, 43, 44);
    height: 100vh;
    width:10%;
    min-width: fit-content;
    min-height: fit-content;
    color: white;
}

.SideBar-Logo{
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-bottom: 2px solid grey;
}

.SideBar-Logo-Restaurant{
    color:lightskyblue
}

.SideBar-Button{
    border: none;
    width: 100%;
    background-color: inherit;
    color: lightgrey;
    margin-top: 25px;
    display: flex;
    cursor: pointer;
}

.SideBar-Button:hover{
    background: grey;
}

.SideBar-Title{
    padding: 5px;
}

a{
    text-decoration: none;
}

.alert-icon{
    padding-left: 10px;
}

.SideBar-Icon{
    padding-left: 10px;
}